################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/src/data/ship/Mesh087.obj
/src/data/ship/Mesh086.obj
/src/data/ship/Mesh085.obj
/src/data/ship/Mesh084.obj
/src/data/ship/Mesh083.obj
/src/data/ship/Mesh082.obj
/src/data/ship/Mesh081.obj
/src/data/ship/Mesh080.obj
/src/data/ship/Mesh079.obj
/src/data/ship/Mesh078.obj
/src/data/ship/Mesh077.obj
/src/data/ship/Mesh076.obj
/src/data/ship/Mesh075.obj
/src/data/ship/Mesh074.obj
/src/data/ship/Mesh073.obj
/src/data/ship/Mesh072.obj
/src/data/ship/Mesh071.obj
/src/data/ship/Mesh070.obj
/src/data/ship/Mesh069.obj
/src/data/ship/Mesh068.obj
/src/data/ship/Mesh067.obj
/src/data/ship/Mesh066.obj
/src/data/ship/Mesh065.obj
/src/data/ship/Mesh064.obj
/src/data/ship/Mesh063.obj
/src/data/ship/Mesh062.obj
/src/data/ship/Mesh061.obj
/src/data/ship/Mesh060.obj
/src/data/ship/Mesh059.obj
/src/data/ship/Mesh058.obj
/src/data/ship/Mesh057.obj
/src/data/ship/Mesh056.obj
/src/data/ship/Mesh055.obj
/src/data/ship/Mesh054.obj
/src/data/ship/Mesh053.obj
/src/data/ship/Mesh052.obj
/src/data/ship/Mesh051.obj
/src/data/ship/Mesh050.obj
/src/data/ship/Mesh049.obj
/src/data/ship/Mesh048.obj
/src/data/ship/Mesh047.obj
/src/data/ship/Mesh046.obj
/src/data/ship/Mesh045.obj
/src/data/ship/Mesh044.obj
/src/data/ship/Mesh043.obj
/src/data/ship/Mesh042.obj
/src/data/ship/Mesh041.obj
/src/data/ship/Mesh040.obj
/src/data/ship/Mesh039.obj
/src/data/ship/Mesh038.obj
/src/data/ship/Mesh037.obj
/src/data/ship/Mesh036.obj
/src/data/ship/Mesh035.obj
/src/data/ship/Mesh034.obj
/src/data/ship/Mesh033.obj
/src/data/ship/Mesh032.obj
/src/data/ship/Mesh031.obj
/src/data/ship/Mesh030.obj
/src/data/ship/Mesh029.obj
/src/data/ship/Mesh028.obj
/src/data/ship/Mesh027.obj
/src/data/ship/Mesh026.obj
/src/data/ship/Mesh025.obj
/src/data/ship/Mesh024.obj
/src/data/ship/Mesh023.obj
/src/data/ship/Mesh022.obj
/src/data/ship/Mesh021.obj
/src/data/ship/Mesh020.obj
/src/data/ship/Mesh019.obj
/src/data/ship/Mesh018.obj
/src/data/ship/Mesh017.obj
/src/data/ship/Mesh016.obj
/src/data/ship/Mesh015.obj
/src/data/ship/Mesh014.obj
/src/data/ship/Mesh013.obj
/src/data/ship/Mesh012.obj
/src/data/ship/Mesh011.obj
/src/data/ship/Mesh010.obj
/src/data/ship/Mesh009.obj
/src/data/ship/Mesh008.obj
/src/data/ship/Mesh007.obj
/src/data/ship/Mesh006.obj
/src/data/ship/Mesh005.obj
/src/data/ship/Mesh004.obj
/src/data/ship/Mesh003.obj
/src/data/ship/Mesh002.obj
/src/data/ship/Mesh001.obj
/src/data/ship/Mesh000.obj
/src/data/coffee/Mesh019.obj
/src/data/coffee/Mesh018.obj
/src/data/coffee/Mesh017.obj
/src/data/coffee/Mesh016.obj
/src/data/coffee/Mesh015.obj
/src/data/coffee/Mesh014.obj
/src/data/coffee/Mesh013.obj
/src/data/coffee/Mesh012.obj
/src/data/coffee/Mesh011.obj
/src/data/coffee/Mesh010.obj
/src/data/coffee/Mesh009.obj
/src/data/coffee/Mesh008.obj
/src/data/coffee/Mesh007.obj
/src/data/coffee/Mesh006.obj
/src/data/coffee/Mesh005.obj
/src/data/coffee/Mesh004.obj
/src/data/coffee/Mesh003.obj
/src/data/coffee/Mesh002.obj
/src/data/coffee/Mesh001.obj
/src/data/coffee/Mesh000.obj
