################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/bin
/src/data/ship/Mesh087.obj
/src/data/ship/Mesh086.obj
/src/data/ship/Mesh085.obj
/src/data/ship/Mesh084.obj
/src/data/ship/Mesh083.obj
/src/data/ship/Mesh082.obj
/src/data/ship/Mesh081.obj
/src/data/ship/Mesh080.obj
/src/data/ship/Mesh079.obj
/src/data/ship/Mesh078.obj
/src/data/ship/Mesh077.obj
/src/data/ship/Mesh076.obj
/src/data/ship/Mesh075.obj
/src/data/ship/Mesh074.obj
/src/data/ship/Mesh073.obj
/src/data/ship/Mesh072.obj
/src/data/ship/Mesh071.obj
/src/data/ship/Mesh070.obj
/src/data/ship/Mesh069.obj
/src/data/ship/Mesh068.obj
/src/data/ship/Mesh067.obj
/src/data/ship/Mesh066.obj
/src/data/ship/Mesh065.obj
/src/data/ship/Mesh064.obj
/src/data/ship/Mesh063.obj
/src/data/ship/Mesh062.obj
/src/data/ship/Mesh061.obj
/src/data/ship/Mesh060.obj
/src/data/ship/Mesh059.obj
/src/data/ship/Mesh058.obj
/src/data/ship/Mesh057.obj
/src/data/ship/Mesh056.obj
/src/data/ship/Mesh055.obj
/src/data/ship/Mesh054.obj
/src/data/ship/Mesh053.obj
/src/data/ship/Mesh052.obj
/src/data/ship/Mesh051.obj
/src/data/ship/Mesh050.obj
/src/data/ship/Mesh049.obj
/src/data/ship/Mesh048.obj
/src/data/ship/Mesh047.obj
/src/data/ship/Mesh046.obj
/src/data/ship/Mesh045.obj
/src/data/ship/Mesh044.obj
/src/data/ship/Mesh043.obj
/src/data/ship/Mesh042.obj
/src/data/ship/Mesh041.obj
/src/data/ship/Mesh040.obj
/src/data/ship/Mesh039.obj
/src/data/ship/Mesh038.obj
/src/data/ship/Mesh037.obj
/src/data/ship/Mesh036.obj
/src/data/ship/Mesh035.obj
/src/data/ship/Mesh034.obj
/src/data/ship/Mesh033.obj
/src/data/ship/Mesh032.obj
/src/data/ship/Mesh031.obj
/src/data/ship/Mesh030.obj
/src/data/ship/Mesh029.obj
/src/data/ship/Mesh028.obj
/src/data/ship/Mesh027.obj
/src/data/ship/Mesh026.obj
/src/data/ship/Mesh025.obj
/src/data/ship/Mesh024.obj
/src/data/ship/Mesh023.obj
/src/data/ship/Mesh022.obj
/src/data/ship/Mesh021.obj
/src/data/ship/Mesh020.obj
/src/data/ship/Mesh019.obj
/src/data/ship/Mesh018.obj
/src/data/ship/Mesh017.obj
/src/data/ship/Mesh016.obj
/src/data/ship/Mesh015.obj
/src/data/ship/Mesh014.obj
/src/data/ship/Mesh013.obj
/src/data/ship/Mesh012.obj
/src/data/ship/Mesh011.obj
/src/data/ship/Mesh010.obj
/src/data/ship/Mesh009.obj
/src/data/ship/Mesh008.obj
/src/data/ship/Mesh007.obj
/src/data/ship/Mesh006.obj
/src/data/ship/Mesh005.obj
/src/data/ship/Mesh004.obj
/src/data/ship/Mesh003.obj
/src/data/ship/Mesh002.obj
/src/data/ship/Mesh001.obj
/src/data/ship/Mesh000.obj
/src/data/coffee/Mesh019.obj
/src/data/coffee/Mesh018.obj
/src/data/coffee/Mesh017.obj
/src/data/coffee/Mesh016.obj
/src/data/coffee/Mesh015.obj
/src/data/coffee/Mesh014.obj
/src/data/coffee/Mesh013.obj
/src/data/coffee/Mesh012.obj
/src/data/coffee/Mesh011.obj
/src/data/coffee/Mesh010.obj
/src/data/coffee/Mesh009.obj
/src/data/coffee/Mesh008.obj
/src/data/coffee/Mesh007.obj
/src/data/coffee/Mesh006.obj
/src/data/coffee/Mesh005.obj
/src/data/coffee/Mesh004.obj
/src/data/coffee/Mesh003.obj
/src/data/coffee/Mesh002.obj
/src/data/coffee/Mesh001.obj
/src/data/coffee/Mesh000.obj
/src/data/ajax.obj
/src/data/spaceship - Copy.scene
/src/data/spaceship_test_quad.scene
/src/data/spaceship_test_sphere.scene
/src/data/test.scene
/spaceship_old.png
/Thumbs.db
/src/data/train
/src/data/san_miguel
/src/data/cube
/src/data/cube.scene
/src/data/san_miguel.scene
/src/data/train.scene
/src/data/bedroom/Mesh069.obj
/src/data/bedroom/Mesh068.obj
/src/data/bedroom/Mesh067.obj
/src/data/bedroom/Mesh066.obj
/src/data/bedroom/Mesh065.obj
/src/data/bedroom/Mesh064.obj
/src/data/bedroom/Mesh063.obj
/src/data/bedroom/Mesh062.obj
/src/data/bedroom/Mesh061.obj
/src/data/bedroom/Mesh060.obj
/src/data/bedroom/Mesh059.obj
/src/data/bedroom/Mesh058.obj
/src/data/bedroom/Mesh057.obj
/src/data/bedroom/Mesh056.obj
/src/data/bedroom/Mesh055.obj
/src/data/bedroom/Mesh054.obj
/src/data/bedroom/Mesh053.obj
/src/data/bedroom/Mesh052.obj
/src/data/bedroom/Mesh051.obj
/src/data/bedroom/Mesh050.obj
/src/data/bedroom/Mesh049.obj
/src/data/bedroom/Mesh048.obj
/src/data/bedroom/Mesh047.obj
/src/data/bedroom/Mesh046.obj
/src/data/bedroom/Mesh045.obj
/src/data/bedroom/Mesh044.obj
/src/data/bedroom/Mesh043.obj
/src/data/bedroom/Mesh042.obj
/src/data/bedroom/Mesh041.obj
/src/data/bedroom/Mesh040.obj
/src/data/bedroom/Mesh039.obj
/src/data/bedroom/Mesh038.obj
/src/data/bedroom/Mesh037.obj
/src/data/bedroom/Mesh036.obj
/src/data/bedroom/Mesh035.obj
/src/data/bedroom/Mesh034.obj
/src/data/bedroom/Mesh033.obj
/src/data/bedroom/Mesh032.obj
/src/data/bedroom/Mesh031.obj
/src/data/bedroom/Mesh030.obj
/src/data/bedroom/Mesh029.obj
/src/data/bedroom/Mesh028.obj
/src/data/bedroom/Mesh027.obj
/src/data/bedroom/Mesh026.obj
/src/data/bedroom/Mesh025.obj
/src/data/bedroom/Mesh024.obj
/src/data/bedroom/Mesh023.obj
/src/data/bedroom/Mesh022.obj
/src/data/bedroom/Mesh021.obj
/src/data/bedroom/Mesh020.obj
/src/data/bedroom/Mesh019.obj
/src/data/bedroom/Mesh018.obj
/src/data/bedroom/Mesh017.obj
/src/data/bedroom/Mesh016.obj
/src/data/bedroom/Mesh015.obj
/src/data/bedroom/Mesh014.obj
/src/data/bedroom/Mesh013.obj
/src/data/bedroom/Mesh012.obj
/src/data/bedroom/Mesh011.obj
/src/data/bedroom/Mesh010.obj
/src/data/bedroom/Mesh009.obj
/src/data/bedroom/Mesh008.obj
/src/data/bedroom/Mesh007.obj
/src/data/bedroom/Mesh006.obj
/src/data/bedroom/Mesh005.obj
/src/data/bedroom/Mesh004.obj
/src/data/bedroom/Mesh003.obj
/src/data/bedroom/Mesh002.obj
/src/data/bedroom/Mesh001.obj
/src/data/bedroom/Mesh000.obj
/src/data/diningroom/textures/Thumbs.db
/src/data/diningroom/vase.obj
/src/data/diningroom/toplight.obj
/src/data/diningroom/table_legs.obj
/src/data/diningroom/table_glass.obj
/src/data/diningroom/shelf_objects.obj
/src/data/diningroom/shelf_object2.obj
/src/data/diningroom/shelf_book2.obj
/src/data/diningroom/shelf_book1.obj
/src/data/diningroom/shelf.obj
/src/data/diningroom/rightwall.obj
/src/data/diningroom/plant.obj
/src/data/diningroom/picture2.obj
/src/data/diningroom/picture1.obj
/src/data/diningroom/light3.obj
/src/data/diningroom/light2.obj
/src/data/diningroom/light1.obj
/src/data/diningroom/left_front_wall.obj
/src/data/diningroom/frontlight2.obj
/src/data/diningroom/frontlight.obj
/src/data/diningroom/frame2.obj
/src/data/diningroom/frame1.obj
/src/data/diningroom/floor_frame.obj
/src/data/diningroom/floor.obj
/src/data/diningroom/cupboards.obj
/src/data/diningroom/chair_seats.obj
/src/data/diningroom/chair_rubber_pegs.obj
/src/data/diningroom/chair_nuts.obj
/src/data/diningroom/chair_legs.obj
/src/data/diningroom/bucket4.obj
/src/data/diningroom/bucket3.obj
/src/data/diningroom/bucket2.obj
/src/data/diningroom/bucket1.obj
/src/data/diningroom/book9.obj
/src/data/diningroom/book8.obj
/src/data/diningroom/book7.obj
/src/data/diningroom/book6.obj
/src/data/diningroom/book5.obj
/src/data/diningroom/book4.obj
/src/data/diningroom/book3.obj
/src/data/diningroom/book2.obj
/src/data/diningroom/book18.obj
/src/data/diningroom/book17.obj
/src/data/diningroom/book16.obj
/src/data/diningroom/book15.obj
/src/data/diningroom/book14.obj
/src/data/diningroom/book13.obj
/src/data/diningroom/book12.obj
/src/data/diningroom/book11.obj
/src/data/diningroom/book10.obj
/src/data/diningroom/book1.obj
